version: "3.9"

services:
  tests:
    image: golang:1.24
    working_dir: /workspace
    volumes:
      - .:/workspace
    env_file:
      - .env
      - .env.test
    command: ["sh", "-c", "go test ./..."]
    environment:
      GO111MODULE: "on"
